#corvinus, #elteIK{
    float: center;
    margin:10px;
    width: 50%;
}

#imi, #bjj{
    float: left;
    margin: 20px;
    height: 150px;
    width: 150px;
}

.container {
    display: flex;   
}
  
  .container img {
    margin-right: 10px; 
    height : 110%;
    width: 110%;
    
  }
 
.header-styles{
    background-color: azure;
    padding: 20px;
    color: #333;
    text-align:center;
}

.welcome{
    font-style: italic;
}


.colored{
    background-color: honeydew;
    
}

.styled-table {
    border-collapse: collapse; /* Ensures table borders collapse into single lines */
    width: 100%; /* Makes the table fill the available width */
    margin-bottom: 1em; /* Adds some space below the table */
  }
  
  .styled-table thead {
    background-color: #e0ffff; /* Light blue background for header */
  }
  
  .styled-table th,
  .styled-table td {
    padding: 0.5em 1em; /* Padding for cells */
    border: 1px solid #ddd; /* Table cell borders */
    text-align: center; /* Align content to the left */
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows (optional) */
  }
  
  .styled-table caption {
    margin-top: 1em; /* Space above the caption */
    text-align: center; /* Center align the caption text */
    font-weight: bold; /* Make caption text bold (optional) */
    
  }
  .alma{
    transform: rotate(-90deg);
  }

  body {
    background-color: white;
    width: 80%;
    max-width: 1000px;
    min-width: 500px;
    padding: 0 20px 20px 20px;
    margin: 20px auto;
    border: 0px dotted rgb(73, 73, 73);
    box-shadow: 0 0 30px black;
  }
  .thumbnail {
    border: 2px solid #ccc;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: auto;
    height: 180px;
  }

  .bankjegy{
    background-image: url("../kepek/10forintos.jpg");
  }

  .rejtett {
    position: absolute;
    left: -1000px;
  }