.bankjegy {
    background-image: url("../kepek/egymilliardos.jpg");
    background-repeat: no-repeat;
    opacity: 1;
  }
  
.semmi{
    background-image: url("../kepek/50pengo.jpg");
    
}

.colored{
    background-color: white;
}